/* Status icons for responses */
.icon-ok svg.icon-svg {
    stroke: #5db651;
}

.icon-not-ok svg.icon-svg {
    stroke: #c61a1a;
}

/* Override Redmine core bug: .icon-not-ok:not(svg) should be .icon-not-ok:not(:has(svg)) */
.icon-not-ok:has(svg) {
    background-image: none;
}

#prefabricated-responses .value {
    font-weight: bold;
}

#add_response_form {
    display: inline-flex;
}

#add_response_form .flex-wrapper {
    display: flex;
    align-content: space-between;
}

#add_response_form select {
    height: 28px;
    border-radius: 3px 0 0 3px;
    border-right: none;
    font-size: 11px;
}

#add_response_form #add-response-submit {
    height: 28px;
    border-radius: 0 3px 3px 0;
    background-color: #DDDDDD;
    font-size: 11px;
}

#add_response_form #add-response-submit:hover, #add_response_form #add-response-submit:focus {
    background-color: #CCCCCC;
}

.link-disable {
    color: #696969
}

#apply-response-submit {
    vertical-align: middle;
    margin-left: 4px;
}

.send-response input[type="submit"] {
    background-color: #229e43;
    color: #f9ffef;
}